* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;
            font-weight: 200;
            font-style: normal;

    background-color: #000000;
    color: aliceblue;
    display: flex;
    direction: ltr;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

.container{

width: 100%;
max-width: 600px;
padding: 20px;
text-align: center;
}

.input-group{

    display: flex;
    gap: 10px;
}
input{
    background-color: #111827;
    border: 2px solid;
    border-color: #818181;
    padding: 10px;
    border-radius: 20px;
    flex-grow: 1;
    font-weight: bold;
    font-size: large;
}

.done{

    font-weight: 400;
    font-size: medium;
}

.add{

    border: none;
    background: linear-gradient(to right, #EC4899 0%, #8B5CF6 100%);
    -webkit-background-clip: text;
    background-clip: text;
    background-color: transparent;
    font-weight: 900;
    font-size: 24px;
    color: transparent;

}
